/* ToDo: finetuning */

.main {
    max-width: 700px;
}

.image {
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.date {
    font-size: small;
    margin-bottom: 20px;
    ;
}