.banner {
    /* Banner is displayed at the bottom */
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

a.link {
    text-decoration: underline;
    color: inherit;
}

a:hover.link {
    text-decoration: underline;
    color: inherit;
}