.footer {
    background-color: black;
    color: white;
    padding: 40px 20px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: 35px;
    width: 100%;
    max-width: 600px;
}

.column {
    text-align: center;
}

.footerlink {
    color: white;
}

.footerlink:hover {
    /* var: see globals.css */
    color: var(--grey-text);
    text-decoration: none;
}

.copyright {
    /* var: see globals.css */
    color: var(--grey-text);
    font-size: small;
    margin-top: 30px;
}