.banner {
    /* Banner is displayed at the bottom */
    z-index: 1100;
}

.button {
    width: 100px;
}

a.link {
    text-decoration: underline;
    color: inherit;
}

a:hover.link {
    text-decoration: underline;
    color: inherit;
}

/* Media queries */

@media (max-width: 797.98px) {
    .bannerRow {
        padding-bottom: 2rem;
    }
}