.box {
    max-width: 645px;
}

.imageStyle {
    width: 100%;
    object-fit: cover;
    max-width: 645px;
}

.button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.title {
    color: var(--white);
    margin-top: 16px;
    margin-bottom: 20px;
}

.amountAndTime {
    color: var(--white);
    font-size: small;
    margin-top: 10px;
}

/* Note, not the normal lg breakpoint */

@media (max-width: 991px) {
    .title {
        margin-top: 60px;
    }

    .amountAndTime {
        margin-bottom: 60px;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: xx-large;
    }
}