/* ToDo: finetuning */

.imageStyle {
    width: 100%;
    object-fit: cover;
}

.button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.title {
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
    max-width: 700px;
}

.description {
    color: var(--white);
    text-align: center;
}

.amountAndTime {
    color: var(--white);
    font-size: small;
    margin-top: 10px;
}

/* Not the normal lg breakpoint */

@media (max-width: 991px) {
    .title {
        margin-top: 60px;
    }
    .amountAndTime {
        margin-bottom: 60px;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: xx-large;
    }
}