/* ToDo: finetuning */

.imageStyle {
    width: 100%;
    object-fit: cover;
}

.button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.title {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.description {
    color: #fff;
    text-align: center;
}

.amountAndTime {
    color: #fff;
    font-size: small;
}

/* Not the normal lg breakpoint */

@media (max-width: 990px) {
    .title {
        margin-top: 30px;
    }
}