.title {
    margin: 40px 10px 20px 20px;
}

.toc {
    /* Max height = the screen height minus the header height */
    max-height: calc(100vh - 62px);
    /* If there is an overflow, add scroll bar */
    overflow: auto;
    /* Stick below header */
    position: sticky;
    top: 62px;
}