/* ToDo: finetuning */

/* ToDo: change the exact right color later, this is tint of the secondary color (see also Globals*/

.toggle {
    background-color: #f8f9fa;
}

.card {
    background-color: #f8f9fa;
    ;
}

.title {
    padding-top: 5px;
}