/* Flare Hub colours */

/*
#2B6CB0
#3182CE
#1A202C
#2D3748
#4A5568
#718096
#EDF2F7
#F7FAFC
#FFFFFF
*/

/* Variables (colours outside Flare standards colours listed above)*/

:root {
  /* bg-light is tint of the secondary color*/
  --bg-light: #f8f9fa;
  --grey-text: rgba(255, 255, 255, 0.75);
}

/* Global CSS */

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  ;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul {
  list-style-type: disc;
  margin-left: 30px;
}

ul.nomarker {
  list-style-type: none;
}

.textContainer {
  max-width: 800px;
  margin-bottom: 100px;
  padding: 0 30px;
}

.textContainer h2, h3 {
  scroll-margin-top: 5.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 650;
}

/* Links on light background */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Links in the insight TOC */

a.sidelink {
  color: inherit;
}

a:hover.sidelink {
  text-decoration: underline;
  color: inherit;
}

.small-font {
  font-size: small;
}

.reduce-lineheight {
  line-height: 1;
}

.font-semi-bold {
  font-weight: 600;
}

/* Navbar */

.fh-link-white.navbar-nav .nav-link {
  color: white;
}

.fh-toggler.navbar-toggler {
  border-color: var(--light);
}

.fh-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(237,242,247)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Insight / markdown content */

.markdown-content img {
  max-width: 100%;
}

.markdown-content h2, h3 {
  scroll-margin-top: 5.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 650;
}

/* Insight / TOC */

.custom-bg {
  background-color: var(--bg-light);
}