.image {
    height: 200px;
    width: 200px;
    margin: 40px 20px 20px;
}

.title {
    margin-bottom: 40px;
    text-align: center;
}

.email {
    text-align: center;
    line-height: 0.5;
}

.mobile {
    text-align: center;
    line-height: 0.5;
}

.text1 {
    margin-top: 40px;
}

.text2 {
    margin-bottom: 40px;
}

/* .footer {
    padding-top: 0;
    border-style: none;
    background-color: #fff;
} */